body {
  background-color: rgb(20, 20, 20);
}

h1, h3, p {
  color: whitesmoke;
}

.innhold {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#topp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;

}



#strek {
  color: white;
  width: 50%;
}

.meldingboks {
  width: 90vh;
  height: 20vh;
  margin: 15px;
}

#viktig {
  border: 5px solid red;
  box-shadow: 0px 0px 20px 5px red;

}

#litt_viktig {
  border: 5px solid yellow;
  box-shadow: 0px 0px 20px 5px yellow;
}

#lite_viktig {
  border: 5px solid green;
  box-shadow: 0px 0px 20px 5px green;
}


.knapp {
  border: 0px;
  height: 5vh;
  margin: 20px;
  font-size: 1.5vh;
  font-weight: bold;
  background-color: red;
  transition: all 0.2s ease;
  box-shadow: 0px 0px 0px 0px red;
  text-shadow: 0px 0px 0px red;
}

.knapp:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: transparent;
  color: red;
  box-shadow: 0px 0px 5px 5px red;
  text-shadow: 0px 0px 5px red;
}

.beskjed_tittel,
.topp_meldingboks p,
.meldingboks p {
  color: whitesmoke;
  font-size: 1.5vh;
}

.topp_meldingboks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

#selve_beskjed {
  margin: 15px;
  height: 9vh;
}

#lag_ny_beskjed_boks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  margin-bottom: 20px;
}


#filter_beskjeder {
  text-align: center;
}

#tekstboks {
  width: 50vh;
  max-width: 50vh;
  min-width: 50vh;
  height: 30vh;
  min-height: 30vh;
  background-color: rgb(20, 20, 20);
  border: 2px solid red;
  color: red;
  font-size: 2vh;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  box-shadow: 0px 0px 0px red;
  text-shadow: 0px 0px 0px red;
  text-decoration: underline;
  transition: all 0.2s ease;
}


#tekstboks:focus {
  box-shadow: 0px 0px 4px 4px red;
  text-shadow: 0px 0px 15px red;
  outline: none;
}

#logg_inn, #registrer_bruker {
  display: flex;
  flex-direction: column;
}

.tekst_input {
  background-color: rgb(20, 20, 20);
  border: none;
  color: red;
  border-bottom: 2px solid red;
  margin: 20px;
  font-size: 2vh;
  text-shadow: 0px 0px 0px 0px red;
  box-shadow: 0px 0px 0px red;
  transition: all 0.2s ease;
}

.tekst_input:focus {
  outline: none;
  text-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px 5px red;
}

#send_beskjed {
  display: flex;
  flex-direction: column;
}